# hugo
public/
resources/
node_modules/
tech-doc-hugo
static/

# asciidoctor
.asciidoctor/
.DS_Store

# this file should be brought in through submodules and build.sh
layouts/shortcodes/embed-pdf.html
