{{ $oshwCertSVG := resources.Get "oshw_cert_us002161.svg" }}
<footer class="gdoc-footer">
  <div class="container flex flex-wrap">
      <div class="mx-auto w-100 text-center"><a href="https://certification.oshwa.org/us002161.html" target="_blank">{{ $oshwCertSVG.Content | safeHTML }}</a></div>
      <p class="gdoc-footer__item text-center">
          Code licensed <a href="{{ .Site.Params.github_repo }}/blob/deploy/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license noopener">CC BY 4.0</a>.
      </p>
  </div>
</footer>
